@import url('https://rsms.me/inter/inter.css');

:root {
    --dark: hsl(345, 6%, 13%);
    --light: hsl(300, 2%, 92%);

    --background: var(--dark);
    --foreground: var(--light);

    --radius: 3px;
    --shadow: none;
    --shadow-left: none;
    --shadow-right: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--light);
        --foreground: var(--dark);
        --shadow: 2px 1px 21px rgba(0, 0, 0, 0.25);
        --shadow-left: 14px 2px 21px rgba(0, 0, 0, 0.25);
        --shadow-right: -14px 2px 21px rgba(0, 0, 0, 0.25);
    }
}

* {
    box-sizing: border-box;
}

html { 
    font-family: 'Inter', system-ui, sans-serif;
}

@supports (font-variation-settings: normal) {
    html { 
        font-family: 'Inter var', system-ui, sans-serif;
        font-feature-settings: 'pnum' on, 'lnum' on, 'ss01' on, 'zero' on, 'case' on, 'ccpm' on;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--foreground);
}

#app > header {
    display: grid;
    grid-template-rows: 1fr 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 169px;
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--foreground);
}

a:focus {
    outline: none;
}

nav a {
    letter-spacing: -0.02em;
    text-transform: uppercase;
    position: relative;
    overflow: visible;
}

nav a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: var(--foreground);
    transition: .4s width ease;
    will-change: width;
}

nav a:hover:after,
nav a:focus:after {
    width: 100%;
}

#app {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    grid-template-rows: 30vh 1fr;
}

#timeline {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 300px;
    padding: 0 10px 40vh;
    grid-gap: 10px;
    overflow: visible;
    position: relative;
}

#timeline::before {
    content: '';
    width: 3px;
    height: 100%;
    
    background-color: var(--foreground);
    border-radius: var(--radius);
    
    position: absolute;
    left: calc(50% - 1.5px);
}

article {
    position: relative;
    grid-column: 1 / 4;

    display: grid;
    grid-template-rows: 90px auto auto 10px;
    place-items: center;
}

article img {
    aspect-ratio: 4 / 3;
    width: 100%;
    height: auto;
    display: block;
}

article header {
    grid-row: 2;
    text-align: center;
    width: 100%;
    background-color: var(--background);
}

article .thumb {
    box-shadow: var(--shadow);
    flex: 1 1 auto;
    grid-row: 3;
    border-radius: var(--radius);
    overflow: hidden;
}

article h2 {
    margin: 1em 0;
}

article time {
    padding: 4px 8px;
    background-color: var(--foreground);
    color: var(--background);
    border-radius: var(--radius);
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

path {
    fill: var(--foreground);
}

@media (min-width: 800px) {
    
    #app {
        grid-template-rows: 30vh 1fr;
    }
    
    #timeline {
        display: grid;
        grid-template-columns: repeat(7, 80px);
        grid-gap: 30px;
        overflow: visible;
        max-width: initial;
        margin: 0;
    }
    
    article {
        grid-column: 1 / 8;
        position: relative;
        content-visibility: auto;
        contain-intrinsic-size: 225px;
        
        grid-template-columns: repeat(7, 80px);
        grid-template-rows: 8vh 225px 20px;
        grid-gap: 30px;
    }

    article::before {
        display: none;
    }

    article header {
        grid-row: 2;
        grid-column: 1 / 4;
        text-align: left;
    }
    
    article .thumb {
        grid-row: 2;
        grid-column: 5 / 8;
        box-shadow: var(--shadow-right);
    }
    
    article time {
        top: auto;
        bottom: 150px;
        transform: translateX(-50%);
    }
    
    article:nth-child(even) header {
        grid-column: 5 / 8;
    }
    
    article:nth-child(even) .thumb {
        grid-column: 1 / 4;
        box-shadow: var(--shadow-left);
    }
    
    article:nth-child(odd) header {
        text-align: right;
    }

}

@media (prefers-reduced-motion: no-preference) {

    article {
        transition: .8s transform ease;
        will-change: transform;
        transform-origin: center center;
    }
    
    article[data-scale="1"] {
        transform: scale(1);
    }
    
    article[data-scale="0"] {
        transform: scale(0.7);
    }

    
    @media (min-width: 800px) {
        article[data-scale="1"] {
            transform: scale(1.2);
        }
        
        article[data-scale="0"] {
            transform: scale(0.7);
        }
    }
}
