:root {
    --dark: hsl(345, 6%, 13%);
    --light: hsl(300, 2%, 92%);

    --background: var(--dark);
    --foreground: var(--light);
    
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--light);
        --foreground: var(--dark);
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--foreground);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#app {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

svg {
    transition: .8s transform cubic-bezier(1, 0.31, 0.44, 1.13);
    transform: scale(1);
    will-change: transform;
    transform-origin: center;
}

path {
    fill: var(--foreground);
}

@media (min-width: 321px) {
    svg {
        transform: scale(2);
    }
}

@media (min-width: 1024px) {
    svg {
        transform: scale(4);
    }
}